.DS_Store
*.so
*.o
build/
.vscode/
!.vscode/c_cpp_properties.json
dist/*
debian/.debhelper/
debian/nginx-torblocker/
debian/nginx-torblocker.*
debian/debhelper-build-stamp
debian/files
config.env
nginx-torblocker_*
vendor/*
!vendor/.gitkeep
nginx-sources/
workflow/
object-x86_64/
object-arm64/
obj-x86_64-*
obj-arm64-*
parent/
dist/
!dist/.gitkeep
git-*.sh
deploy-*.sh
rebuild-*.sh
clean-*.sh
packages/
publish-*.sh
test-*.sh
upload-*.sh
