VERSION="1.0.3"

# Basic version configurations
UBUNTU_VERSIONS="${UBUNTU_VERSIONS:-jammy noble}"
NGINX_VERSIONS="${NGINX_VERSIONS:-1.26.0 1.24.0}"

# Use a matrix to manage (ubuntu:nginx) combos
COMPATIBILITY_MATRIX="
jammy:1.24.0
jammy:1.26.0
noble:1.24.0
noble:1.26.0
"

# Paths
OUTPUT_DIR="../"

# Docker Configuration
CLEANUP_DOCKER=yes

# PPA Configuration (for building and publishing to PPA)
PPA_NAME="ppa:rumenx/nginx-torblocker"
GPG_KEY_ID="your-gpg-key-id"
GPG_PASSPHRASE="your-gpg-passphrase"
